:root {
    --glommy-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --bg-pattern-top: url(../images/bg-pattern-top-mobile.svg);
    --bg-pattern-bottom: url(../images/bg-pattern-bottom-mobile.svg);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Spartan, sans-serif;
    background-image: var(--bg-pattern-top), var(--bg-pattern-bottom);
    background-repeat: no-repeat;
    background-position: top, bottom right;
}

img {
    max-width: 100%;
}

.title {
    font-size: clamp(2rem, 2.3vw + 1rem, 3rem);
    margin-bottom: 0;
}

.title, .rating {
    color: var(--glommy-magenta);
}

.subtitle {
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 1.5em;
}

.testimonial {
    text-align: left;
    color: var(--white);
}

.rating, .testimonial {
    display: flex;
    flex-direction: column;
}

.rating {
    font-weight: 700;
    justify-content: center;
}

.rating__card {
    background-color: var(--light-grayish-magenta);
    padding: 1.5em;
}

.rating__card::before {
    content: url(../images/icon-star.svg) " " url(../images/icon-star.svg) " " url(../images/icon-star.svg) " " url(../images/icon-star.svg) " " url(../images/icon-star.svg);
}

.rating__card, .testimonial__card {
    border-radius: 7px;
}

.testimonial__card {
    background-color: var(--glommy-magenta);
    padding: 2em 1.5em;
}

.card__info {
    display: grid;
    grid-template: 1.5em 1.5em / 45px 1fr;
    grid-auto-flow: column;
    column-gap: 1em;
}

.card__name, .card__client-type {
    margin-top: 0;
    margin-bottom: 0;
}

.card__client-img {
    grid-row: 1 / 3;
    height: 100%;
    border-radius: 50%;
}

.card__client-type {
    color: var(--soft-pink);
    font-weight: 400;
}

.card__review {
    margin-bottom: 0;
}

@media only screen and (max-width:989px) {
    .rating {
        margin-bottom: 2em;
    }
    .testimonial, .rating {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        row-gap: 1em;
    }
    body {
        padding: 5em 1.5em;
        text-align: center;
    }
    .rating__card::before {
        display: block;
    }
}

@media only screen and (min-width:990px) {
    :root {
        --bg-pattern-top: url(../images/bg-pattern-top-desktop.svg);
        --bg-pattern-bottom: url(../images/bg-pattern-bottom-desktop.svg);
    }
    body {
        display: flex;
        min-height: 100vh;
    }
    .main {
        display: grid;
        grid-template: 1fr 1fr / 45% 50%;
        width: 75%;
        margin: auto;
        column-gap: 5%;
    }
    .rating {
        row-gap: 1em;
    }
    .rating__card {
        width: 90%;
    }
    .rating__card::before {
        margin-right: 5%;
    }
    .testimonial {
        grid-column: 1 / 3;
        flex-direction: row;
        column-gap: 1.5em;
    }
    .rating__card:first-of-type, .testimonial__card:first-of-type {
        align-self: flex-start;
    }
    .rating__card:nth-of-type(2), .testimonial__card:nth-of-type(2) {
        align-self: center;
    }
    .rating__card:nth-of-type(3), .testimonial__card:nth-of-type(3) {
        align-self: flex-end;
    }
}